body{
  background-color: black;

  padding-bottom: 0;
  margin-bottom: 0;
}
#root {
  width: 100%;
  padding-bottom: 0;
  margin: 0;
  background-color: white;
  
}


.picture{
  width: 100%;
}

.rounded-15{
  border-radius: 15px;
}

.top {
  background-color: #bdd9f9;
  border-radius: 15px;

}

.HBPR-logo {
	  display: block;
    border: 0 !important;
    background-image: url(./assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 7em;
    margin-left: 1em;
   
}
.nav-item {
  font-family: 'Judson';
  font-size: 1.5rem;
  text-shadow: 1px 1px #dbdbdb;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
